@import "variables.less";
@import "fonts.less";
@import "project.less";

body, html{
	width:100%;
	height:100%;
	overflow:hidden;
	color:@darkgrey;
	background:@lightgrey;
	font-family: 'Asap', sans-serif;
}

.loading{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background:url('../images/joey.gif') center center no-repeat;
}


.fulljustify {
  text-align: justify;
}
.fulljustify:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.bande{
	width:45px;
	height:5px;
	background-color:@gold;
	margin-bottom: 50px;
}

.hide{
	opacity:0!important;
	transition: opacity .25s ease-in-out;
}

.hidden{
	display:none;
}

.uppercase{
	text-transform: uppercase;
}

h2{
	text-transform: uppercase;
	font-size: 30px;
	// border-bottom: 4px solid #c3a263;
	padding-bottom:15px;

	.subtitle{
		font-size:smaller;
		text-transform: none;
		font-weight: lighter;
		font-size: 20px;
		position:relative;
		top:-8px;
	}

}


.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

#apropos > * {
  padding: 10px;
  flex: 1 100%;
}

#apropos.visible{
	visibility: visible;
}

#apropos
{
	display: flex;
	flex-flow: row wrap;
	height:250px;
	font-family: 'Asap', sans-serif;
	visibility: hidden;
	transition: all 0.25s ease-in-out;
	position:relative;
	z-index: 1;
	top:-250px;

	&.visible{
		top:0;
		transition:top 0.25s ease-in-out;
	}

	h2
	{
		text-transform:uppercase;
		font-size:30px;
		border-bottom:0;
		margin:0;
		display: inline-block;
		padding-bottom:20px;
	}

	.aboutme{
		padding:50px;
		flex:5 0px;
		order:1;
		background-color: @white;
		column-count: 2;
		font-size: 14px;
		column-gap:50px;
		text-align:justify;
		overflow:hidden;
	}

	.links{
		padding:50px;
		flex:3 0px;
		order:2;
		background:@darkgrey;
		text-transform: uppercase;

		h2{
			color:@white;
		}

		.btn{
			background:#fff;
			color:@darkgrey;
			padding:15px;
			width:180px;
			text-align: center;
			display:inline-block;
			margin:0;
			font-size: 14px;
			transition: all .25s ease-in;

			&:hover{
				background-color: @gold;
				color:#fff;
			}

			&.marg{
				margin-right: 20px;
			}

			@media (max-width: 1400px) {
      	width:150px;
    	}

			@media (max-width: 1250px) {
      	width:120px;
    	}

		}
	}

}

.navhelp{
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color:#fff;
	text-transform: uppercase;
	font-size:12px;

	img{
		margin:0 15px;
	}

	.ou{
		position:relative;
		bottom:15px;
	}
}



.menu{
	cursor:pointer;
	position:absolute;
	top:50px;
	left:50px;
	width:300px;
	z-index:2;
	opacity:1;
	transition: opacity .25s ease-in-out;

	.logo{
		background: url(../images/logo-sm.png) top left no-repeat;
		height:30px;
		width:40px;
		float:left;
		padding-right:25px;
	}

	.menu-link{
		text-transform:uppercase;
		font-family: 'Asap', sans-serif;
		color:@white;
		font-weight:bold;
		font-size:14px;
		float:left;
		padding-left:25px;
		border-left:1px solid fade(@white, 50%);
	}

}

.main
{
	min-height:100%;
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	transition: all 0.25s;
 	transition-timing-function: ease-in-out;
 	perspective: 1500px;
 	transform: translate3d(0, 0, 0);
 	transform-style: preserve-3d;
 	backface-visibility: hidden;

 	.pt-page{
 		background-size: cover;
	 	height:100%;
		width:100%;
		position:absolute;
		visibility: hidden;
		top:0;
		left:0;
		transform: translate3d(0, 0, 0);
	 	transform-style: preserve-3d;
	 	backface-visibility: hidden;
		transform: scale(1.05);
 	}

	.bande{
		margin:0 auto;
	}

 	.pt-page-current{
 		visibility: visible;
 	}

	.project{
		position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
		left: 50%;
		height: auto;
		width: 765px;
		padding: 0;
		margin:0;
	}

  .project-title{
  	font-family: 'Glamor';
  	font-size:70px;
  	color:@white;
		padding: 0;
		text-align: center;
		letter-spacing: 20px;
  	text-transform: uppercase;
		margin:50px 0;

			&.smaller{
				  font-size: 49px;
			}

  }

	.project-link a{
		font-family:"Asap";
		color:#fff;
		letter-spacing:2.5px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
}

	.project-nb{
		position: absolute;
    right: 50px;
    bottom: 50px;
		color:#fff;
		font-family: 'Asap', sans-serif;
		font-weight: bold;
	}
}

@media screen and (max-width: 1300px){
  .hide-on-small{
		display: none;
	}
}

@media screen and (max-width: 1500px){
  .hide-on-small{
		font-size: smaller;
	}
}

.main.deployed{
	top:250px;
	opacity:0.5;
	cursor:url(../images/close.png), auto;
}
